@tailwind base;
@tailwind components;
@tailwind utilities;

/* Ejemplo de personalización */
.bg-yellow-500 {
  background-color: #FFC107; /* Color amarillo */
}

.text-yellow-500 {
  color: #FFC107; /* Color amarillo para el texto */
}

.shadow-lg {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
